$lightblue: #28B7FF;
$blue: #0096e1;
$pink: #FF4BBD;
$yellow: #FFFF00;
$darkYellow: #ffef92;
$gold: #FFDA00;
$darkBlue: #005697;

@font-face {
  font-family: "Loopiejuice-Regular";
  src: url("Loopiejuice.ttf");
}

@font-face {
  font-family: "Harrington";
  src: url("Harrington.ttf");
}

@font-face {
  font-family: "Athelas";
  src: url("Athelas-Regular.ttf");
}

$font-family-sans-serif: "HelveticaNeue-Light",
"Helvetica Neue Light",
"Helvetica Neue",
Helvetica,
Arial,
"Lucida Grande",
sans-serif;
$font-family-serif: "Athelas";
$font-family-fun: "Loopiejuice-Regular";
// $font-family-serif: Georgia, "Times New Roman", Times, serif !default;
// $font-family-monospace: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base: $font-family-serif !default;

body {
  font-weight: 200;
}