rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
  	match /public/{allPaths=**} {
    	allow read;
    }
    match /memory/Matthew/007/{allPaths=**} {
      allow read;
    }
    match /memory/{allPaths=**} {
      allow read: if request.auth != null;
    }
    match /resources/James/001/{allPaths=**} {
      allow read;
    }
    match /resources/{allPaths=**} {
      allow read: if request.auth != null;
    }
    match /{allPaths=**} {
    	allow read, write: if request.auth.token.admin == true;
    }
  }
}

