.memoryPalace {
  .power {
    // opacity: 0;
    transform-origin: 50% 88%;
    transform-box: fill-box;
  }

  .module {
    .pedistal,.power {
      cursor:pointer;
    }
    .jewel {
      display: none;
      pointer-events: none; // because the glow covers a bunch
    }
    .rock {
      transform-origin: 50% 50%;
      transform-box: fill-box;
    }
    &.hide {
      display: none;
      visibility: hidden;
    }

    &.memorized-pending {
      .rock {
        cursor: pointer;
        animation: glowRock 2s ease-in-out infinite;
      }
      .pedistal, .power {
        cursor: default;
        pointer-events: none;;
      }
    }
    &.memorized,
    &.applied-pending, &.applied  {
      .rock {
        display: none;
      }
      .jewel {
        display: inherit;
      }
    }

    &.memorized-pending, &.memorized,
    &.applied-pending, &.applied  {
      filter: url(#glow)
    }
  }

  .backgroundJewel {
    transform-origin: 50% 50%;
    pointer-events: none; // because the glow covers a bunch
    transform: scale3d(3, 3, 3) translate3d(-1335px, -320px, 0px);
    &.memorized-pending {
      animation: jewelDropdown 6s ease-out;
    }
    &.learning {
      display: none;
    }
  }

  @keyframes jewelDropdown {
    0% {transform: scale3d(3, 3, 3) translate3d(-1335px, -1100px, 0px)}
    100% {transform: scale3d(3, 3, 3) translate3d(-1335px, -320px, 0px)}
  }

  @keyframes glowRock {
    0% {transform: scale3d(1, 1, 1)}
    50% {transform: scale3d(1.2, 1.2, 1)}
    100% {transform: scale3d(1, 1, 1)}
  }
}

.memoryChalice {
  position: absolute;
  overflow: visible;
  pointer-events: none;
  bottom: 1%;
  width: 20%;
  max-height: 30%;
  z-index:2;
  transition: right .3s;
}

.playfulBackground {
  background-color: black; 
  width: 100%;
  height: 100%;
  position: absolute;
}
.playfulFrame {
  position: absolute;
  background-color: white;
  border: 5px solid gold;
  overflow: hidden;
  
  &.adventurePath, &.moduleSelector {
    overflow: scroll;
  }
}

.sidemenu-kids {
  top: 0px;
  position: absolute;
  height: 100%;
  width: 30%;
  right: 0;
  background: #28B7FF;
  overflow: hidden;
  transition: 0.3s;
  z-index: 2;
  padding-top: 10px;
}
.modulePedestal {
  width: 800px;
  height: 100px;
}
.activityContent {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}