@import '../../common/common';

.moduleSelector {
  background: {
    color: $darkYellow;
    repeat: no-repeat;
    size: cover;
    attachment: fixed;
  }

  .selectorContainer {
    margin: auto;
    padding-top: 4rem;
    min-height: 100vh;
  }
  
  .bookTitle {
    padding-top: 5%;
    padding-bottom: 5%;
  
    color: white;
    font: {
      family: Loopiejuice-Regular;
      size: 1.4rem;
      weight: bold;
    }

    background: {
      // default is book verse bar
      image: url(images/BookVerseBar.svg);
      origin: padding-box;
      repeat: no-repeat;
      attachment: scroll;
      size: cover;
      position: center;
    }
  }

  .verseRow {
    overflow-x: scroll;
    flex-wrap: wrap;
    justify-content: space-evenly;
    // flex-wrap: nowrap;
    // justify-content: start;
  }

  .verseItem {
    text-align: center;
    margin-left: 1rem;
    min-width: 9rem;
    max-width: 9rem;
    cursor: pointer;

    > svg {
      width: 8rem;
      height: 4rem;
    }
  }

  .corner {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 8rem;
    height: 8rem;
  }

  // For specific viewSelected
  // book view is default for now
  // &.games {
  //   background-image: url(images/BookVerseBar.svg);
  //   .bookTitle {
  //     background-image: url(images/BookVerseBar.svg);
  //   }
  // }
  &.speed {
    background-image: url(images/DragonBackground.svg);
    .selectorContainer {
      padding-top: 32vh;
      padding-right: 10vw;
    }

    .bookTitle {
      text-align: center;
      padding: 0;
      background: {
        image: url(images/DragonVerseBar.svg);
        position: center;
      } 
    }
  }

  &.coloring {
    background: {
      image: url(images/ColorBackground.svg);
      position: top;
      attachment: scroll;
    }
    min-height: 1.33vw;

    .selectorContainer {
      padding-top: 20%;
      width: 550px;
      min-width: 40%;
      max-width: 90%;
    }

    .bookTitle {
      background: {
        image: url(images/ColorVerseBar.svg);
        position: center;
        size: contain;
      }
      text-align: center;
      color: black;
      padding-top: 5%;
      padding-bottom: 1%;
    }
  }

  &.craft {
    background: {
      image: url(images/CraftBackground.svg);
      position: center;
      attachment: scroll;
    }

    min-height: 1.33vw;

    .selectorContainer {
      padding-top: 20%;
      width: 550px;
      min-width: 40%;
      max-width: 90%;
    }

    .bookTitle {
      background: {
        image: url(images/ColorVerseBar.svg);
        position: center;
        size: contain;
      }

      text-align: center;
      color: black;
      padding-top: 5%;
      padding-bottom: 1%;
    }
  }

  &.dance {
    background: {
      image: url(images/DanceBackground.svg);
      position: center;
      color: white;
    }

    .selectorContainer {
      padding-top: 28vh;
      width: 720px;
      min-width: 70%;
      max-width: 90%;
    }

    .bookTitle {
      text-align: center;
      padding-top: 5%;
      padding-bottom: 1%;

      background: {
        image: url(images/StageVerseBar.svg);
        position: center;
        size: contain;
      }
    }
  }

  &.karaoke {
    padding: 4rem 3rem;

    background: {
      image: url(images/KaraokeBackground.svg);
      color: white;
    }

    .selectorContainer {
      padding-left: 6%;
      width: 720px;
      min-width: 70%;
      max-width: 90%;
    }

    .bookTitle {
      text-align: center;
      padding-top: 10%;
      padding-bottom: 1%;

      background: {
        image: url(images/KaraokeVerseBar.svg);
        position: center;
        size: contain;
      }
    }
  }

  &.watch {
    background: {
      image: url(images/StageBackground.svg);
      position: center;
      color: white;
    }
    .selectorContainer {
      width: 720px;
      min-width: 70%;
      max-width: 90%;
    }

    .bookTitle {
      text-align: center;
      padding-top: 5%;
      padding-bottom: 1%;

      background: {
        image: url(images/StageVerseBar.svg);
        position: center;
        size: contain;
      }
    }
  }

  &.echo {
    background-image: url(images/EchoBackground.svg);
    .bookTitle {
      background-color: #fff8;
      background-image: unset;
      padding: 2% 1%;
    }
  }

  &.joSchmo .corner {
    content: url(images/BlueHouseInside.svg);
  }
  &.schmoment .corner {
    content: url(images/PinkHouseInside.svg);
  }
  &.discussion .corner {
    content: url(images/YelllowHouseInside.svg);
  }
}