@import '../../common/common';

.moduleSelectorBackground {
  height: 100%;
  width: 100%;
  position: relative;

  background: {
    image: url(images/DefaultBackground.svg);
    size: 100%;
    repeat: no-repeat;
    attachment: fixed;
    position: center;
  }

  .selectorContainer {
    position: absolute;
    left: 18%;
    right: 18%;
    top: 25%;
    bottom: 2%;
    background-color: #eee6;
    border-radius: 5%;
    overflow: scroll;
  }

  .bookTitle {
    padding: 2% 0;

    font-family: Helvetica;
    text-align: center;

    background: {
      // color: #fff8;
      image: url(images/BookVerseBar.svg);
      repeat: no-repeat;
      origin: padding-box;
      position: center;
    }
  }

  .verseRow {
    flex-wrap: wrap;
    justify-content: center;
  }

  .verseItem {
    min-width: 20%;
    max-width: 20%;
    padding: 2% 1%;
    cursor: pointer;

    > svg {
      width: 100%;
    }
  }

  .corner {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 8rem;
    height: 8rem;
  }

  // For specific viewSelected
  // book view is default for now

  &.dragon {
    background-image: url(images/DragonBackground.svg);

    .selectorContainer { top: 29%; }
    // .bookTitle {
    //   color: white;
    //   background-image: url(images/BookVerseBar.svg);
    //   background-color: unset;
    // }
  }

  &.echo { background-image: url(images/EchoBackground.svg);}
  &.schmash { background-image: url(images/SchmashBackground.svg);}
  &.color { background-image: url(images/ColorBackground.svg);}

  &.activity {
    background-image: url(images/ActivityBackground.svg);

    // .bookTitle {
    //   background-image: url(images/ColorVerseBar.svg);
    //   background-color: unset;
    //   padding: 3%;
    // }
  }

  &.karaoke {
    background-image: url(images/KaraokeBackground.svg);

    // .bookTitle {
    //   background-image: url(images/ColorVerseBar.svg);
    //   background-color: unset;
    //   padding: 3%;
    // }
  }

  &.dance {
    background-image: url(images/DanceBackground.svg);
    
    // .bookTitle {
    //   text-align: center;
    //   padding-top: 5%;
    //   padding-bottom: 1%;

    //   background-image: url(images/StageVerseBar.svg);
    //   background-color: unset;
    // }
  }

  &.speedyZoom { background-image: url(images/SpeedyZoomBackground.svg);}

  &.watch {
    background-image: url(images/StageBackground.svg);

    // .bookTitle {
    //   padding-top: 5%;
    //   padding-bottom: 1%;

    //   background-image: url(images/StageVerseBar.svg);
    //   background-color: unset;
    // }
  }

  &.mySchmo { background-image: url(images/MySchmoBackground.svg);}
  &.colorPrint { background-image: url(images/ColorBackground.svg);}
  &.bookmark { background-image: url(images/BookmarkBackground.svg);}
  &.kidRecite { background-image: url(images/KidReciteBackground.svg);}
  &.intro { background-image: url(images/IntroBackground.svg);}
  &.joSchmo { background-image: url(images/JoSchmoBackground.svg);}
  &.roSchmo { background-image: url(images/RoSchmoBackground.svg);}
  &.princess { background-image: url(images/PrincessBackground.svg);}
  &.book { background-image: url(images/BookBackground.svg);}
  &.blooper { background-image: url(images/BlooperBackground.svg);}
}
