// ALL themes
.display-1,
h1,
h2 {
    text-align: center;
}

q {
    text-align: center;
    margin: 1rem auto 0;
    display: block;
    max-width: 60%;
    
    &::before,
    &::after {
        font-size: 2rem;
        position: relative;
        top: .5rem;
    }
}

.caption {
    display: block;
    margin: 0 auto 2rem;
    text-align: left;
}

.full-img {
    height: 35vw;
    background-size: cover;
    background-position: center;

    * {
        width: 100%;
        height: 100%;
        padding-top: 15%;
        padding-left: 3rem;
        font-size: 2.5rem;
        background-color: rgba(255, 255, 255, 0.4);
    }
}

.button {
    display: inline-block;
    width: fit-content;
    height: fit-content;
    padding: 0.5rem 1rem;
    color: white;
    border-radius: 100px;
    
    &:hover {
        box-shadow: rgba(0, 0, 0, 0.5) 3px 3px 5px;
        text-decoration: none;
        color: white;
    }
}

.btn.btn-round {
    border-radius: 6rem;
    padding: .37rem 1.25rem;
}

.btn.display-4 {
    font-size: 3.5rem;
}

.btn-group-toggle {
    margin: 5px;
}

.btn.btn-primary {    
    &:not(:disabled):not(.disabled) {
        background-color: darken($color: $blue, $amount: 5);
        border-color: darken($color: $blue, $amount: 5);

        &:hover {
            // background-color: darken($color: $blue, $amount: 8);
            // border-color: darken($color: $blue, $amount: 8);
            box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 5px;

        }

        &:active,
        &.active {
            background-color: $blue;
            border-color: $blue;
            // box-shadow: darken($color: $blue, $amount: 22) 1px 1px 5px 1px;
            box-shadow: darken($blue, 22) 1px 1px 5px 1px;
        }
    }
}


// FORMS
input,
textarea {
    margin: 10px;
}

input:invalid:not(:focus), #warnInvalid {
    /* color:red; */
    background-color: rgba(255, 0, 0, 0.25);
    border:2px inset red;
}

.progress {
    width: 100px;
    height: 8px;
}

.form {
    background-color: white;
}

// PLAIN PAGES 
.check:before {
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f00c";
    font-size: 2rem;
    color: $blue;
    padding: 5px;
    position: relative;
    top:5px;
    right: 5px;
}

.plain-theme {
    background-image: linear-gradient(180deg, white, rgba(40, 183, 255, 0.3));
}

// PLAYFUL PAGES 

.colorful-theme {
    background-image: url("../images/home_yellowbackgroundcenter.png");

    .btn.btn-outline-primary {
        border-width: .3rem;
        border-radius: .8rem;
        font-size: 1rem;
        
        &:not(:disabled):not(.disabled) {
            // background-color: darken($color: $blue, $amount: 5);
            background-color: white;
            border-color: $blue;

            &:hover, &.hover {
                background-color: transparentize($blue, .3);
                * {background-color: white;}
            }

            &:active, &.active {
                background-color: $blue;
                * {background-color: white;}
            }

            * {
                width: 100%;
                height: 100%;
                background-color: $blue;
            }
        }
    }

    .square-btn {
        padding: 0;
        height: 4rem;
        width: 4rem;
        text-align: center;
        grid-area: span 2 / span 1;
    }

    .wavy-col {
        width: fit-content;
        display: grid;
        grid-template-rows: repeat(10, 2rem);
        row-gap: .5rem;
        column-gap: .5rem;
        grid-auto-flow: column;
    }

    .selection-expand-box {
        background-color: white;
        margin: .5rem;
        padding: .5rem;
        border: .5rem solid $blue;
        border-radius: 1rem;
        // Animate the pair of widths / heights
        width: 12rem;
        min-width: 12rem;

        min-height: 12rem;
        max-height: 12rem;
        height: fit-content;

        transition: all .3s linear;
        // transition: all .2s linear;
        &.show {
            width: 40%;
            min-width: 20rem;
            max-height: 100%;
        }

        .col {
            min-width: unset;
        }
    }
    
    @media screen and (max-width: 768px) {
        .selection-expand-box {
            &:not(.show) {
                width: 9rem;
                height: 9rem;
            }
        }
    }
}
