$blue: #28B7FF;
$pink: #FF4BBD;
$yellow: #FFFF00;
$darkYellow: #F1E935;
$gold: #F1E935;
$darkBlue: #0064A0;

@font-face {
    font-family: "Loopiejuice-Regular";
    src: url("Loopiejuice.ttf");
}

$font-family-sans-serif: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$font-family-fun: "Loopiejuice-Regular";
// $font-family-serif: Georgia, "Times New Roman", Times, serif !default;
// $font-family-monospace: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base: $font-family-sans-serif !default;

$enable-responsive-font-sizes: true;

$embed-responsive-aspect-ratios: (
    (21 9),
    (16 9),
    (4 3),
    (1 1),
    (17 22), // 8.5 by 11
    (3 4),
    (9 16),
    (9 21)
);

.yellow { background-color: $yellow}
.blue { background-color: $blue }
.pink { background-color: $pink }

.App {
    line-height: 1.1;
    -webkit-font-smoothing: antialiased;
    font-size: 1.2rem;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

.body {
    flex: 1 1 auto
}

.navbar, .Footer {
    flex: 0 1 auto
}

.row {
    justify-content: center;
}

.flex-centered {
    align-items: center;
    justify-content: center;
    text-align: center;
}

// Animate Bounce
.bounce:hover {
    transition: all .4s;
    transition-timing-function: cubic-bezier(.31, 2.02, .47, -.36);
    transform: scale(1.16, 1.16);
}

.bounce,
.bounce-once {
    transition: all .2s;
    transform: scale(1, 1);

    :nth-of-type(1) { animation: 1s linear 0 1 bounce; }
    :nth-of-type(2) { animation: 1.5s linear 0 1 bounce; }
    :nth-of-type(3) { animation: 2s linear 0 1 bounce; }
    :nth-of-type(4) { animation: 2.5s linear 0 1 bounce; }
    :nth-of-type(5) { animation: 3s linear 0 1 bounce; }
}

@keyframes bounce {
    0% {
        transform: scale(0, 0);
        animation-timing-function: ease;
    }

    30% {
        transform: scale(1.2);
        animation-timing-function: cubic-bezier(.31, 2.02, .47, -.36);
    }

    100% {
        transform: scale(1, 1);
    }
}

@import "special";
@import "themes";

// Import parts of Bootstrap to extend theme
@import "../../node_modules/bootstrap/scss/bootstrap";

// // Required Parts
// @import "../node_modules/bootstrap/scss/functions";
// @import "../node_modules/bootstrap/scss/variables";
// @import "../node_modules/bootstrap/scss/mixins";
