// FORMS

input,
textarea {
    margin: 10px;
    font-size: 16px;
}

input:invalid:not(:focus), #warnInvalid {
    /* color:red; */
    background-color: rgba(255, 0, 0, 0.25);
    border:2px inset red;
}

.progress {
    width: 100px;
    height: 8px;
}

.form {
    max-width: 1010px;
    margin: auto;
    background-color: white;

    h1,
    h2,
    p {
        text-align: left;
        font-size: 16px;
        margin: 20px;
    }

    h1 {
        font-size: 28px;
        font-weight: bolder;
    }

    h2 {
        font-size: 20px;
        font-weight: bolder;
    }

    p {
        font-size: 18px;
        text-indent: 0;
    }
}

// PLAIN PAGES 
.Home p {
    margin: 10px 30px;
    text-indent: 0;
}

p {
    margin: 30px;
    text-indent: 40px;
}

.giant, h1, h2 {
    text-align: center;
}

.giant {
    font-size: 8vw;
    line-height: 100%;
    font-weight: normal;
}

h1 {
    font-size: 28px;
    margin: 10px auto;
}

h2 {
    font-size: 22px;
}

q {
    text-align: center;
    margin: 15px auto 0px;
    display: block;
    font-size: 120%;
    line-height: 100%;
    max-width: 60%;
    
    ::before,
    ::after {
        font-size: 200%;
        position: relative;
        top: 10px;
    }
}

.caption {
    display: block;
    margin: 0 auto 30px;
    text-align: left;
}

.full-img {
    height: 35vw;
    background-size: cover;
    background-position: center;

    * {
        width: 100%;
        height: 100%;
        padding-top: 15%;
        padding-left: 50px;
        line-height: 100%;
        font-size: 40px;
        background-color: rgba(255, 255, 255, 0.4);
    }
}

.plain-list > li::before {
    content: '';
}

.check:before {
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f00c";
    font-size: 32px;
    color: var(--blue);
    padding: 5px;
    position: relative;
    top:5px;
    right: 5px;
}

.button, .big-button {
    display: inline-block;
    width: fit-content;
    padding: 0.5rem 1rem;
    // margin: 20px auto;
    // background-color: #00b4fa;
    color: white;
    /* font-size: 150%; */
    line-height: 100%;
    border-radius: 100px;
    height: fit-content;
}

.big-button {
    padding: 1rem 2rem;
    font-size: 250%;
}

.button:hover,
.big-button:hover {
    box-shadow: rgba(0, 0, 0, 0.5) 3px 3px 5px;
    text-decoration: none;
    color: white;
}


.plain-theme {
    background-image: linear-gradient(180deg, white, rgba(40, 183, 255, 0.3));
}

// PLAYFUL PAGES 


.colorful-theme {
    background-image: url("../images/home_yellowbackgroundcenter.png");
}


.check-box {
    box-sizing: border-box;
    margin: 10px;
    padding: 3px;
    background-color: var(--blue);

    [checked=true] {
        box-shadow: 0 0 2px 2px #00e1ffc2;
    }
}

// Screen Adjustments
@media screen and (max-width: 750px) {
    // For plain page
    .giant {
        font-size: 10vw;
        /* margin: 7vw 10px; */
    }

    .big-button {
        font-size: 150%;
    }

    .full-img * {
        line-height: 100%;
        font-size: 20px;
    }
}