@import '../common/common';

.colorful-theme {
  // background-image: url("../images/home_yellowbackgroundcenter.png");

  .btn.btn-outline-primary {
    border-width: .3rem;
    border-radius: .8rem;
    font-size: 1rem;

    &:not(:disabled):not(.disabled) {
      // background-color: darken($color: $blue, $amount: 5);
      background-color: white;
      border-color: $blue;

      &:hover,
      &.hover {
        background-color: transparentize($blue, .3);

        * {
          background-color: white;
        }
      }

      &:active,
      &.active {
        background-color: $blue;

        * {
          background-color: white;
        }
      }

      * {
        width: 100%;
        height: 100%;
        background-color: $blue;
      }
    }
  }

  .square-btn {
    padding: 0;
    height: 4rem;
    width: 4rem;
    text-align: center;
    grid-area: span 2 / span 1;
  }

  .wavy-col {
    width: fit-content;
    display: grid;
    grid-template-rows: repeat(10, 2rem);
    row-gap: .5rem;
    column-gap: .5rem;
    grid-auto-flow: column;
  }

  .selection-expand-box {
    background-color: white;
    margin: .5rem;
    padding: .5rem;
    border: .5rem solid $blue;
    border-radius: 1rem;
    // Animate the pair of widths / heights
    width: 12rem;
    min-width: 12rem;

    min-height: 12rem;
    max-height: 12rem;
    height: fit-content;

    transition: all .3s linear;

    // transition: all .2s linear;
    &.show {
      width: 40%;
      min-width: 20rem;
      max-height: 100%;
    }

    .col {
      min-width: unset;
    }
  }

  @media screen and (max-width: 768px) {
    .selection-expand-box {
      &:not(.show) {
        width: 9rem;
        height: 9rem;
      }
    }
  }
}

.player-control-prev,
.player-control-next {
  z-index: 1;
  color: rgba(0, 0, 0, .6);
  height: fit-content;
  margin-top: -30px;
  position: absolute;
  bottom: 50%;
}

.player-control-prev {
  left: 0
}

.player-control-next {
  right: 0
}

.scripture-selector {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  max-height: 100%;
  // overflow-x: auto;
}

.memorize-controls {
  position: absolute;
  top: 3.5rem;
  bottom: 0;
  left: 0;
  right: 0;
  transition: opacity .5s linear;

  >*:not(.player) {
    z-index: 2;
  }

  &.hide> :not(.player):not(.show) {
    opacity: 0;
  }

}
