.sidemenu{
    height: 100%;
    width: 30%;
    position: fixed;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    overflow: auto;
    margin-left: -100%;
    transition: 0.5s; 
}

.sidemenu ul {
    list-style: none;
    padding: 0;
    margin-top: 5px;
    margin-bottom: 13px;
}

.sidemenu a {
    text-decoration: none;
    font-size: 1rem;
    padding: 20px;
    color:rgb(255, 255, 255);
    display: block;
}

.sidemenu a:active {
    background: rgba(0, 0, 0, 0.5);
    transition: 0.3s;
}

.nestedSidebar {
    margin-left: 20px;
    margin-top:-15px;
    margin-bottom:-20px;
}

.nestedSidebar ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    justify-content: flex-start;
}

.nestedSidebar a {
    font-size: 0.7rem;
}

