.Manage, .modal {
  th, td {
    padding-left: 1em;
    &:not(.rotate) {
      overflow: hidden;
    }
  }

  th {
    vertical-align: bottom;

    &.rotate {
      height: 140px;
      white-space: nowrap;
      
      >div {
        transform: translate(0, -10px) rotate(-50deg);
        width: 1.2em;

        span {
          border-bottom: 1px solid #ccc;
        }
      }
    }
  }
}