.construction {
    width: 100vw;
    position: relative;
    top: 0;
    left: 0;
    background-color: var(--yellow);
    color: black;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
}

/* .text-box {
    text-align: left;
    padding: 15px;
    margin: 25px;
	background-color: rgba(255, 255, 255, 0.75);
} */

.full-img {
    text-align: left;
    width: 100%;
    height: 35vw;
    margin: 0;
    background-size: cover;
    background-position: center;
    clear: both;
}

.full-img * {
    width: 100%;
    height: 100%;
    margin: 0;
    padding-top: 15%;
    padding-left: 50px;
    line-height: 100%;
    font-size: 40px;
    background-color: rgba(255, 255, 255, 0.4);
}

.Body {
    /* background-image: url("../images/home_yellowbackgroundcenter.png"); */
    display: block;
    min-height: 100vh;
    flex-basis: 100%;
    text-align: center;
}

.row {
    margin: 50px 0;
    justify-content: space-evenly;
    text-align: left;
    margin-bottom: auto;
}

.flex-centered {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.video {
    width: 100% !important;
}

.fill-y {
    height: 100% !important;
}

@media screen and (max-width: 750px) {
    .full-img * {
        line-height: 100%;
        font-size: 20px;
    }
}
