.LeftSideBar {
    background-image: url("../images/leftsidebar_backgroundribbon.png");
    background-blend-mode: normal;
}

.sidebar-text-block {
    font-family: Geneva;
    font-weight: bold;
    text-transform: uppercase;
    text-align: justify;
    /*text-justify: inter-character;*/
    font-size: .8vw;
}

.sideBar-form-text {
    width: 100%;
}

.sideBar-form-submit {
    width: 50%;
    alignment: left;
}

.sideBar {
    width: 140px;
}