.ProductBar {
	background-image: url("../images/leftribbon.svg");
}

.QuoteBar {
	background-image: url("../images/rightribbon.svg");
}

.sidebar {
	background-repeat: repeat-y;
	background-size: 150px auto;
	background-position: center;
	min-height: 100%;
	min-width: 150px;
	max-width: 150px;
	margin: 0 20px;
	padding:0;
	display: block;
}

.sidebar .text-box {
	font-size: 12pt;
	margin: 20px 0;
	padding:10px;
	display: block;
}

.sidebar img {
	width: 150px;
	height: 150px;
	margin:20px 0;
}

.QuoteBar .text-box{
	font-family: Loopiejuice-Regular;
	font-size: 30px;
	line-height: 32px;
}

@media screen and (max-width: 1000px) {
	.sidebar {
		min-height: none;
		background-image: url("../images/horizontalStripes.svg");
		background-size: auto 120px;
		background-repeat: repeat-x;
		background-position: 0 10%;
		min-width: none;
		max-width: none;
		width:100vw;
		padding:10px;
		display:flex;
		flex-flow: row nowrap;
		overflow: auto;
		margin: auto;
	}

	.sidebar .text-box {
		min-width: 200px;
		min-height: 100px;
		margin: 10px;
	}

	.sidebar img {
		min-height: 100px;
		min-width: 100px;
 		margin: 10px;
	}
}