.Slogans {
	justify-content: space-evenly;
	letter-spacing: -.07ch;
	padding: 0;
}

.Slogans>* {
	width: 200px;
	height: 200px;
	margin:10px;
	display: block;
}

.Slogans img {
	width: 200px;
	height: 200px;
}

.Slogans div:hover img {
	display: none;
}
.Slogans p {
	margin:25px;
	padding:10px;
	display: none;
	text-align: center;
	background-color: white;
	width:150px;
	height:150px;
}
.Slogans div:hover p {
	display: block;
}

.Slogans .yellow {
	background-color: var(--yellow)
}

.Slogans .blue {
	background-color: var(--blue)
}

.Slogans .pink {
	background-color: var(--pink)
}