/* Text formatting */
p {
	margin: 30px;
	text-indent: 40px;
}

.Testimonials p {
    margin: 10px;
}

.Testimonials .text-box {
    margin: 30px;
}

h1, h2, h3, b, em, y {
	font-family: Loopiejuice-Regular;
	/* padding: .3ch; */
	font-weight: bolder;
	font-style: normal;
	text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 1.5px;
}

h2, h3, b, q, em, y {
	font-size: inherit;
}

h1, q {
	display: block;
	text-align: center;
}

q {
	margin: 30px;
	font-size: 30px;
    line-height: 100%;
}

q::before,
q::after {
    content: "";
}

h1::before, h1::after {
    background-image: url('../images/logo.svg');
    background-size: 60px 30px;
    content:"";
    display: inline-block;
    width: 60px;
    height: 30px;
	margin: 0 20px;
}

h2 {
	margin-top: 15px;
	margin-bottom: 0px;
	padding: 0px;
}

.check:before {
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f00c";
    font-size: 32px;
    color: var(--blue);
    padding: 5px;
    position: relative;
    top:5px;
    right: 5px;
}

ul {
    padding-left: 80px;
}

h3 {
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px;
}

h1, h2, b {
	color: var(--blue);
}

h3, em {
	color: var(--pink);
}

y {
	color: var(--yellow);
}

.button {
    display: inline-block;
    margin: 20px;
    padding: 0.5rem 1rem;
    background-color: #00b4fa;
    color: white;
    font-size: 150%;
    line-height: 100%;
    border-radius: 100px;
}

.button:hover {
    box-shadow: rgba(0, 0, 0, 0.5) 3px 3px 5px;
    text-decoration: none;
    color: white;
}

.right {
    text-align: right;
    padding-right: 50px;
}

/* Screen size adjustments */
@media screen and (max-width: 500px) {
	q {
		margin: 5px;
		font-size: 20px;
		line-height: 20px;
	}
}