@use "sass:color";
@import "../node_modules/bootstrap/scss/bootstrap-reboot";
@import "fonts";

$lightblue: #28B7FF;
$darkBlue: #0064A0;
$gray: #aaa;
$darkgray: #888;
$lightgray: #ddd;
$pink: #FF4BBD;
$yellow: #FFFF00;

$primary: $lightblue;
$primaryText: white;
$border: 1px solid $lightgray;

$gentleRadius: .3rem;
$inputPadding: .3rem .6rem;

.absoluteCenter { 
  position: absolute;
  margin: 0px;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  max-width: 100%;
}

h1,h2,h3,h4,h5 {
  color: $darkgray;
}

input {
  border: $border;
  border-radius: $gentleRadius;
  padding: $inputPadding;
}

a {
  color: $primary;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: $primary;
    text-decoration: underline;
  }
}

[data-button] {
  &:disabled {
    background-color: $gray;
    cursor: inherit;
  }

  &[data-button*=round] {
    border-radius: 1.25rem;
  }
  
  &[data-button*=primary] {
    background-color: $primary;
    color: black;

    &:hover {
      background-color: color.scale($primary, $lightness: 20%);
      color: black;
    }
  }
  
  cursor: pointer;
  border: $border;
  border-color: transparent;
  border-radius: $gentleRadius;
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  padding: $inputPadding;
  text-align: center;
  text-decoration: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
}


// login-page {
//   .card {
//     background-clip: border-box;
//     background-color: white;
//     border: $border;
//     border-radius: $gentleRadius;
//     display: flex;
//     flex-direction: column;
//   }
//   .card-header {
//     color: $darkgray;
//     display:flex;
//     justify-content: space-evenly;
//     padding: .75rem 0.75rem 0rem;
//     border-bottom: $border;
//   }
//   .card-body {
//     display: flex;
//     align-content: center;
//     flex-direction: column;
//     text-align: center;

//     margin: 1rem;
//     > * {
//       margin: .3rem;
//     }
//   }
//   .card-header-item {
//     margin-bottom: 0;
//     padding-bottom: 0.75rem;
//     cursor: pointer;

//     &.selected {
//       border-bottom: .2rem solid $lightblue;
//     }
//   }
//   .card-footer {
//     display: flex;
//     justify-content: space-evenly;
//     padding: 0.75rem;
//     font-size: .9rem;
//   }
//   #forgot-password-description {
//     text-align: left;
//   }
// }