@font-face { font-family: "Loopiejuice-Regular"; src: url("../static/Loopiejuice.ttf"); }
@font-face { font-family: "Harrington"; src: url("../static/Harrington.ttf"); }
@font-face { font-family: 'Fira Sans'; src: url("../static/firasans.woff2"); }
@font-face { font-family: 'HelveticaNeue Light'; src: url("../static/HelveticaNeue\ Light.ttf"); }
@font-face { font-family: "Athelas"; src: url("../static/Athelas-Regular.ttf"); }

$font-family-sans-serif: "HelveticaNeue-Light";
$font-family-serif: "Athelas";
$font-family-fun: "Loopiejuice-Regular";
// $font-family-serif: Georgia, "Times New Roman", Times, serif !default;
// $font-family-monospace: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base: $font-family-serif !default;
body { font-family: $font-family-serif; }
