@font-face { font-family: "Loopiejuice-Regular"; src: url("../static/Loopiejuice.ttf"); }
@font-face { font-family: "Harrington"; src: url("../static/Harrington.ttf"); }
@font-face { font-family: 'Fira Sans'; src: url("../static/firasans.woff2"); }
@font-face { font-family: 'HelveticaNeue Light'; src: url("../static/HelveticaNeue\ Light.ttf"); }
body { font-family: 'HelveticaNeue Light'; }
