.adventurePath {
  position: absolute;
  // overflow: scroll;
  height: 100%;
  background-size: cover;

  .steppingSpot {
    position: absolute;
    top: 50%;

    & > * {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%)
    }
    
    &:hover:not([disabled]) {
      filter: drop-shadow(0 0 10px #fffb);
      cursor: pointer;
    }
    .major {
      height: 9rem;
    }
    .minor {
      height: 4rem;
    }
    .current, .lock {
      height: 5rem;
    }
    .current {
      animation: slideIn 1.5s ease 1.5s,
        glowRocket 2s ease-in-out 1.5s infinite,
        bobRocket 2s ease-in-out 3s infinite;
    }
    
    @keyframes glowRocket {
      0% {filter: drop-shadow(0 0 10px #fff2);}
      50% {filter: drop-shadow(0 0 10px #fffa);}
      100% {filter: drop-shadow(0 0 10px #fff2);}
    }

    @keyframes bobRocket {
      0% {transform: translate3d(-50%, -50%, 0) scale3d(1, 1, 1);}
      50% {transform: translate3d(-50%, -50%, 0) scale3d(.8, .8, 1);}
      100% {transform: translate3d(-50%, -50%, 0) scale3d(1, 1, 1);}
    }

    @keyframes slideIn {
      // using -50% and -150% because it is centered with transform
      from {transform: translateX(-150%) translateY(-50%)}
      to {transform: translateX(-50%) translateY(-50%)}
    }

  }
}
