.adventurePath {
  position: absolute;
  overflow: scroll;
  height: 100%;
  background-size: cover;

  .steppingSpot {
    position: absolute;
    top: 50%;

    & > * {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%)
    }
    
    &:hover:not([disabled]) {
      filter: drop-shadow(0 0 10px #fffb);
      cursor: pointer;
    }
    .major {
      height: 9rem;
    }
    .minor {
      height: 4rem;
    }
    .current, .lock {
      height: 5rem;
    }
    .current {
      animation: slideIn 1s ease;
      animation: glowRocket 2s ease-in-out 1s infinite;
    }
    
    @keyframes glowRocket {
      0% {
        transform: translateY(-50%) translateX(-50%) scale(.8);
        filter: drop-shadow(0 0 10px #fff2);
      }
      50% {
        transform: translateY(-50%) translateX(-50%) scale(1);
        filter: drop-shadow(0 0 10px #fff8);
      }
      100% {
        transform: translateY(-50%) translateX(-50%) scale(.8);
        filter: drop-shadow(0 0 10px #fff2);
      }
    }

    @keyframes slideIn {
      // using -50% and -150% because it is centered with transform
      from {transform: translateX(-150%) translateY(-50%)}
      to {transform: translateX(-50%) translateY(-50%)}
    }
  }
}
