@use "sass:color";
@import "../node_modules/bootstrap/scss/bootstrap-reboot";
@import "../shared/fonts";

$lightblue: #28B7FF;
$darkBlue: #005697;
$gray: #aaa;
$darkgray: #888;
$lightgray: #ddd;
$pink: #FF4BBD;
$yellow: #FFFF00;

$primary: $lightblue;
$primaryText: white;
$border: 1px solid $lightgray;

$gentleRadius: .3rem;
$inputPadding: .3rem .6rem;

.text-danger {
  color: #ff6f00;
}

.absoluteCenter { 
  position: absolute;
  margin: 0px;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  max-width: 100%;
}

h1,h2,h3,h4,h5 {
  color: $darkgray;
}

input {
  border: $border;
  border-radius: $gentleRadius;
  padding: $inputPadding;
}

a {
  color: $primary;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: $primary;
    text-decoration: underline;
  }
}

[data-button] {
  &:disabled {
    background-color: $gray;
    cursor: inherit;
  }

  &[data-button*=round] {
    border-radius: 2rem;
  }
  
  &[data-button*=primary] {
    background-color: $primary;
    color: black;

    &:hover {
      background-color: color.scale($primary, $lightness: 20%);
      color: black;
    }
  }
  
  cursor: pointer;
  border: $border;
  border-color: transparent;
  border-radius: $gentleRadius;
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  padding: $inputPadding;
  text-align: center;
  text-decoration: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
}

[data-button*="outline"] {
  background-color: transparent;

  &[data-button*="light"] {
    border: .1rem solid white;
    color: white;

    &:hover {
      background-color: #fff1;
      color: white;
    }
  }

  &[data-button*="dark"] {
    border: .1rem solid $darkBlue;
    color: $darkBlue;

    &:hover {
      background-color: #00569720;
      color: $darkBlue;
    }
  }
}

[data-stack] {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-self: stretch;

  &[data-stack*=gap-1] { gap: .25rem; }
  &[data-stack*=gap-2] { gap: .5rem; }
  &[data-stack*=gap-3] { gap: 1rem; }
  &[data-stack*=gap-4] { gap: 2rem; }
  &[data-stack*=gap-5] { gap: 4rem; }
  &[data-stack*=gap-6] { gap: 8rem; }
}

[data-split] {
  display: grid;
  gap: var(--gutter, 0px);
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
}

@media (min-width: 700px) {
  [data-split] {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

[data-layout] { position: absolute; }
[data-layout*=top] { top: 0; }
[data-layout*=bottom] { bottom: 0; }
[data-layout*=left] { left: 0; }
[data-layout*=right] { right: 0; }